// Componant: Page Title

.page-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	background-color: #FFF;
	margin: (-30px) -30px 30px;
	padding: 20px 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	@media print { display: none; }
	@media (max-width: 480px) {
		margin: (-15px) -15px 15px;
		padding: 20px;
	}

	h1 {
		margin: 0;
		font-size: 24px;
		font-weight: 400;
	}

	p {
		margin-bottom: 0;
		font-style: italic;
	}

	.breadcrumb {
		margin-bottom: 0;
		text-align: right;
		font-weight: 500;
		font-size: 13px;
		text-transform: capitalize;
		padding: 0;
		background-color: transparent;

		&.side {
			margin-top: 10px;
			text-align: left;
			padding: 0;
		}
	}
}