aside.app-sidebar

	.app-sidebar__user
		img.app-sidebar__user-avatar(src='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg', alt='User Image')
		div
			p.app-sidebar__user-name John Doe
			p.app-sidebar__user-designation Frontend Developer

	ul.app-menu
		li
			a.app-menu__item.active(href='index.html')
				i.app-menu__icon.fa.fa-dashboard
				span.app-menu__label Dashboard

		li.treeview
			a.app-menu__item(href='#', data-toggle='treeview')
				i.app-menu__icon.fa.fa-laptop
				span.app-menu__label UI Elements
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='bootstrap-components.html')
						i.icon.fa.fa-circle-o
						|  Bootstrap Elements
				li
					a.treeview-item(href='http://fontawesome.io/icons/', target="_blank")
						i.icon.fa.fa-circle-o
						|  Font Icons
				li
					a.treeview-item(href='ui-cards.html')
						i.icon.fa.fa-circle-o
						|  Cards
				li
					a.treeview-item(href='widgets.html')
						i.icon.fa.fa-circle-o
						|  Widgets

		li
			a.app-menu__item(href='charts.html')
				i.app-menu__icon.fa.fa-pie-chart
				span.app-menu__label Charts

		li.treeview
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fa.fa-edit
				span.app-menu__label Forms
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='form-components.html')
						i.icon.fa.fa-circle-o
						|  Form Components
				li
					a.treeview-item(href='form-custom.html')
						i.icon.fa.fa-circle-o
						|  Custom Components
				li
					a.treeview-item(href='form-samples.html')
						i.icon.fa.fa-circle-o
						|  Form Samples
				li
					a.treeview-item(href='form-notifications.html')
						i.icon.fa.fa-circle-o
						|  Form Notifications

		li.treeview
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fa.fa-th-list
				span.app-menu__label Tables
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='table-basic.html')
						i.icon.fa.fa-circle-o
						|  Basic Tables
				li
					a.treeview-item(href='table-data-table.html')
						i.icon.fa.fa-circle-o
						|  Data Tables

		li.treeview
			a.app-menu__item(href='#' data-toggle='treeview')
				i.app-menu__icon.fa.fa-file-text
				span.app-menu__label Pages
				i.treeview-indicator.fa.fa-angle-right
			ul.treeview-menu
				li
					a.treeview-item(href='blank-page.html')
						i.icon.fa.fa-circle-o
						|  Blank Page
				li
					a.treeview-item(href='page-login.html')
						i.icon.fa.fa-circle-o
						|  Login Page
				li
					a.treeview-item(href='page-lockscreen.html')
						i.icon.fa.fa-circle-o
						|  Lockscreen Page
				li
					a.treeview-item(href='page-user.html')
						i.icon.fa.fa-circle-o
						|  User Page
				li
					a.treeview-item(href='page-invoice.html')
						i.icon.fa.fa-circle-o
						|  Invoice Page
				li
					a.treeview-item(href='page-calendar.html')
						i.icon.fa.fa-circle-o
						|  Calendar Page
				li
					a.treeview-item(href='page-mailbox.html')
						i.icon.fa.fa-circle-o
						|  Mailbox
				li
					a.treeview-item(href='page-error.html')
						i.icon.fa.fa-circle-o
						|  Error Page
