// Page: Error

.page-error {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: calc(100vh - 110px);
	margin-bottom: 0;
	h1 {
		margin: 10px;
		font-size: 42px;
	}
}