extends layouts/_layout.pug

block content
	.page-title
		div
			h1
				i.fa.fa-dashboard
				|  Blank Page
			p Start a beautiful journey here

		div
			ul.breadcrumb
				li
					i.fa.fa-home.fa-lg
				li
					a(href='#') Blank Page

	.row
		.col-md-12
			.card
				.card-body Load Your Data Here