extends layouts/_layout.pug

block variables
	- var activePage = 'dashboard';
	- var activeGroup = 'none';

block content
	.app-title
		div
			h1
				i.bi.bi-speedometer
				|  Dashboard
			p A free and open source Bootstrap 5 admin template

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.bi.bi-house-door.fs-6
			li.breadcrumb-item
				a(href='#') Dashboard

	.row
		.col-md-6.col-lg-3
			.widget-small.primary.coloured-icon
				i.icon.bi.bi-people.fs-1
				div.info
					h4 Users
					p
						b 5

		.col-md-6.col-lg-3
			.widget-small.info.coloured-icon
				i.icon.bi.bi-heart.fs-1
				div.info
					h4 Likes
					p
						b 25

		.col-md-6.col-lg-3
			.widget-small.warning.coloured-icon
				i.icon.bi.bi-folder2.fs-1
				div.info
					h4 Uploades
					p
						b 10

		.col-md-6.col-lg-3
			.widget-small.danger.coloured-icon
				i.icon.bi.bi-star.fs-1
				div.info
					h4 Stars
					p
						b 500
	.row
		.col-md-6
			.tile
				h3.tile-title Monthly Sales
				.ratio.ratio-16x9
					canvas(id="salesChart")

		.col-md-6
			.tile
				h3.tile-title Support Requests
				.ratio.ratio-16x9.d-flex.justify-content-center
					canvas(id="supportRequestChart")

block specific-js
	script(type='text/javascript', src="js/plugins/chart.js")
	script(type='text/javascript').
		const salesData = {
			type: "line",
			data: {
				labels: [
					"Jan",
					"Feb",
					"March",
					"April",
					"May",
					"June",
				],
				datasets: [{
					label: 'Monthly Sales',
					data: [65, 59, 80, 81, 56, 55, 40],
					fill: false,
					borderColor: 'rgb(75, 192, 192)',
					tension: 0.1
				}]
			}
		}

		const supportRequests = {
			type: "doughnut",
			data: {
				labels: [
					'In-Progress',
					'Complete',
					'Delayed'
				],
				datasets: [{
					label: 'Support Requests',
					data: [300, 50, 100],
					backgroundColor: [
						'#EFCC00',
						'#5AD3D1',
						'#FF5A5E'
					],
					hoverOffset: 4
				}]
			}
		};

		const salesChartCtx = document.getElementById('salesChart');
		new Chart(salesChartCtx, salesData);

		const supportChartCtx = document.getElementById('supportRequestChart');
		new Chart(supportChartCtx, supportRequests);

