extends layouts/_layout.pug

block content
	.page-title
		div
			h1
				i.fa.fa-dashboard
				|  Dashboard
			p A free and modular admin template

		div
			ul.breadcrumb
				li
					i.fa.fa-home.fa-lg
				li
					a(href='#') Dashboard

	.row

		.col-md-6
			.card
				h3.card-title Getting Started
				p Vali is a free and responsive dashboard theme built with Bootstrap, Pug.js (templating) and SASS. It's fully customizable and modular. You don't need to add the code, you will not use.

				p The issue with the most admin themes out there is that if you will see their source code there are a hell lot of external CSS and javascript files in there. And if you try to remove a CSS or Javascript file some things stops working.

				p That's why I made Vali. Which is a light weight yet expendable and good looking theme. The theme has all the features required in a dashboard theme but this features are built like plug and play module. Take a look at the #[a(href="http://pratikborsadiya.in/blog/vali-admin", target="_blank") documentation] about customizing the theme.

				p.mt-40.mb-20
					a.btn.btn-primary.icon-btn.mr-10(href="http://pratikborsadiya.in/blog/vali-admin", target="_blank")
						i.fa.fa-file
						| Docs
					a.btn.btn-info.icon-btn.mr-10(href="https://github.com/pratikborsadiya/vali-admin", target="_blank")
						i.fa.fa-github
						| GitHub
					a.btn.btn-success.icon-btn(href="https://github.com/pratikborsadiya/vali-admin/archive/master.zip", target="_blank")
						i.fa.fa-download
						| Download

		.col-md-6
			.card
				h3.card-title Compatibility with frameworks
				p This theme is not built for a specific framework or technology like Angular or React etc. But due to it's modular nature it's very easy to incorporate it into any front-end or back-end framework like Angular, React or Laravel.

				p Go to #[a(href="http://pratikborsadiya.in/blog/vali-admin", target="_blank") documentation] for more details about integrating this theme with various frameworks.

				p The source code is available on GitHub. If anything is missing or weird please report it as an issue on #[a(href="https://github.com/pratikborsadiya/vali-admin", target="_blank") GitHub]. If you want to contribute to this theme pull requests are always welcome.
