doctype html
html
	head
		include includes/_head.pug

	body
		.page-error
			h1
				i.fa.fa-exclamation-circle
				|  Error 404
			p The page you have requested is not found.
			p
				a(href="javascript:window.history.back();") Go back to previous page
					
	include includes/_javascript.pug
