doctype html
html
	head
		include includes/_head.pug
		title Lockscreen - Vali Admin

	body
		section.material-half-bg
			.cover
				
		section.lockscreen-content
			.logo
				h1 Vali

			.lock-box
				img.rounded-circle.user-image(src="https://randomuser.me/api/portraits/men/1.jpg")

				h4.text-center.user-name John Doe

				p.text-center.text-muted Account Locked

				form.unlock-form(action="index.html")
					.mb-3
						label.control-label PASSWORD
						input.form-control(type="password", placeholder="Password", autofocus)

					.mb-3.btn-container.d-grid
							button.btn.btn-primary.btn-block(type="submit")
								i.bi.bi-unlock.me-2.fs-5
								| UNLOCK 

				p
					a(href="page-login.html") Not John ? Login Here.

		include includes/_javascript.pug
