extends layouts/_layout.pug

block content
	.page-title
		div
			h1
				i.fa.fa-th-list
				|  Basic Tables
			p Basic bootstrap tables

		div
			ul.breadcrumb
				li
					i.fa.fa-home.fa-lg
				li
					| Tables
				li.active
					a(href="#") Simple Tables

	.row
		.col-md-6
			.card
				h3.card-title Simple Table
				table.table
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Mark
							td Otto
							td @mdo
						tr
							td 2
							td Jacob
							td Thornton
							td @fat
						tr
							td 3
							td Larry
							td the Bird
							td @twitter

		.col-md-6
			.card
				h3.card-title Striped Table
				table.table.table-striped
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Mark
							td Otto
							td @mdo
						tr
							td 2
							td Jacob
							td Thornton
							td @fat
						tr
							td 3
							td Larry
							td the Bird
							td @twitter
		.clearfix

		.col-md-6
			.card
				h3.card-title Bordered Table
				table.table.table-bordered
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Mark
							td Otto
							td @mdo
						tr
							td 2
							td Jacob
							td Thornton
							td @fat
						tr
							td 3
							td Larry
							td the Bird
							td @twitter

		.col-md-6
			.card
				h3.card-title Table Hover
				table.table.table-hover
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Mark
							td Otto
							td @mdo
						tr
							td 2
							td Jacob
							td Thornton
							td @fat
						tr
							td 3
							td Larry
							td the Bird
							td @twitter
		.clearfix

		.col-md-6
			.card
				h3.card-title Condensed Table
				table.table.table-condensed
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr
							td 1
							td Mark
							td Otto
							td @mdo
						tr
							td 2
							td Jacob
							td Thornton
							td @fat
						tr
							td 3
							td Larry
							td the Bird
							td @twitter
						tr
							td 4
							td Jacob
							td Thornton
							td @fat
						tr
							td 5
							td Mark
							td Otto
							td @mdo

		.col-md-6
			.card
				h3.card-title Contextual Classes
				table.table
					thead
						tr
							th #
							th First Name
							th Last Name
							th Username
					tbody
						tr.info
							td 1
							td Mark
							td Otto
							td @mdo
						tr.success
							td 2
							td Jacob
							td Thornton
							td @fat
						tr.danger
							td 3
							td Larry
							td the Bird
							td @twitter
						tr.warning
							td 4
							td Jacob
							td Thornton
							td @fat

		.clearfix

		.col-md-12
			.card
				h3.card-title Responsive Table
				.table-responsive
					table.table
						thead
							tr
								th #
								th First Name
								th Last Name
								th Username
						tbody
							tr
								td 1
								td Mark
								td Otto
								td @mdo
							tr
								td 2
								td Jacob
								td Thornton
								td @fat
							tr
								td 3
								td Larry
								td the Bird
								td @twitter
							tr
								td 4
								td Jacob
								td Thornton
								td @fat

