extends layouts/_layout.pug

block content
		.page-title
				div
						h1
								i.fa.fa-fort-awesome
								|  Font Icons
						p The iconic css fonts

				div
						ul.breadcrumb
								li
										i.fa.fa-home.fa-lg
								li
										| UI
								li
										a(href="#") Font Icons

		.row
				.col-md-12
						.card
								#font-awesome-icons
									section#web-application
										h2.page-header Web Application Icons
										.row.fontawesome-icon-list
											style.
												.icon-block {
													font-size: 16px;
													margin-bottom: 20px;
												}
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-adjust
													|  adjust
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-anchor
													|  anchor
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-archive
													|  archive
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-area-chart
													|  area-chart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrows
													|  arrows
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrows-h
													|  arrows-h
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrows-v
													|  arrows-v
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-asterisk
													|  asterisk
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-at
													|  at
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-automobile
													|  automobile 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-balance-scale
													|  balance-scale
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ban
													|  ban
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bank
													|  bank 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bar-chart
													|  bar-chart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bar-chart-o
													|  bar-chart-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-barcode
													|  barcode
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bars
													|  bars
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-0
													|  battery-0 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-1
													|  battery-1 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-2
													|  battery-2 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-3
													|  battery-3 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-4
													|  battery-4 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-empty
													|  battery-empty
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-full
													|  battery-full
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-half
													|  battery-half
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-quarter
													|  battery-quarter
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-battery-three-quarters
													|  battery-three-quarters
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bed
													|  bed
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-beer
													|  beer
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bell
													|  bell
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bell-o
													|  bell-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bell-slash
													|  bell-slash
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bell-slash-o
													|  bell-slash-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bicycle
													|  bicycle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-binoculars
													|  binoculars
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-birthday-cake
													|  birthday-cake
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bluetooth
													|  bluetooth
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bluetooth-b
													|  bluetooth-b
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bolt
													|  bolt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bomb
													|  bomb
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-book
													|  book
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bookmark
													|  bookmark
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bookmark-o
													|  bookmark-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-briefcase
													|  briefcase
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bug
													|  bug
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-building
													|  building
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-building-o
													|  building-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bullhorn
													|  bullhorn
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bullseye
													|  bullseye
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bus
													|  bus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cab
													|  cab 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-calculator
													|  calculator
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-calendar
													|  calendar
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-calendar-check-o
													|  calendar-check-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-calendar-minus-o
													|  calendar-minus-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-calendar-o
													|  calendar-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-calendar-plus-o
													|  calendar-plus-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-calendar-times-o
													|  calendar-times-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-camera
													|  camera
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-camera-retro
													|  camera-retro
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-car
													|  car
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-square-o-down
													|  caret-square-o-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-square-o-left
													|  caret-square-o-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-square-o-right
													|  caret-square-o-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-square-o-up
													|  caret-square-o-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cart-arrow-down
													|  cart-arrow-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cart-plus
													|  cart-plus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc
													|  cc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-certificate
													|  certificate
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-check
													|  check
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-check-circle
													|  check-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-check-circle-o
													|  check-circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-check-square
													|  check-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-check-square-o
													|  check-square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-child
													|  child
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-circle
													|  circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-circle-o
													|  circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-circle-o-notch
													|  circle-o-notch
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-circle-thin
													|  circle-thin
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-clock-o
													|  clock-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-clone
													|  clone
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-close
													|  close 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cloud
													|  cloud
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cloud-download
													|  cloud-download
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cloud-upload
													|  cloud-upload
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-code
													|  code
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-code-fork
													|  code-fork
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-coffee
													|  coffee
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cog
													|  cog
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cogs
													|  cogs
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-comment
													|  comment
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-comment-o
													|  comment-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-commenting
													|  commenting
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-commenting-o
													|  commenting-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-comments
													|  comments
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-comments-o
													|  comments-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-compass
													|  compass
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-copyright
													|  copyright
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-creative-commons
													|  creative-commons
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-credit-card
													|  credit-card
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-crop
													|  crop
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-crosshairs
													|  crosshairs
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cube
													|  cube
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cubes
													|  cubes
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cutlery
													|  cutlery
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-dashboard
													|  dashboard 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-database
													|  database
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-desktop
													|  desktop
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-diamond
													|  diamond
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-dot-circle-o
													|  dot-circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-download
													|  download
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-edit
													|  edit 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ellipsis-h
													|  ellipsis-h
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ellipsis-v
													|  ellipsis-v
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-envelope
													|  envelope
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-envelope-o
													|  envelope-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-envelope-square
													|  envelope-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-eraser
													|  eraser
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-exchange
													|  exchange
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-exclamation
													|  exclamation
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-exclamation-circle
													|  exclamation-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-exclamation-triangle
													|  exclamation-triangle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-external-link
													|  external-link
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-external-link-square
													|  external-link-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-eye
													|  eye
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-eye-slash
													|  eye-slash
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-eyedropper
													|  eyedropper
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fax
													|  fax
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-feed
													|  feed 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-female
													|  female
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fighter-jet
													|  fighter-jet
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-archive-o
													|  file-archive-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-audio-o
													|  file-audio-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-code-o
													|  file-code-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-excel-o
													|  file-excel-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-image-o
													|  file-image-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-movie-o
													|  file-movie-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-pdf-o
													|  file-pdf-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-photo-o
													|  file-photo-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-picture-o
													|  file-picture-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-powerpoint-o
													|  file-powerpoint-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-sound-o
													|  file-sound-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-video-o
													|  file-video-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-word-o
													|  file-word-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-zip-o
													|  file-zip-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-film
													|  film
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-filter
													|  filter
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fire
													|  fire
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fire-extinguisher
													|  fire-extinguisher
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-flag
													|  flag
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-flag-checkered
													|  flag-checkered
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-flag-o
													|  flag-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-flash
													|  flash 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-flask
													|  flask
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-folder
													|  folder
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-folder-o
													|  folder-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-folder-open
													|  folder-open
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-folder-open-o
													|  folder-open-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-frown-o
													|  frown-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-futbol-o
													|  futbol-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gamepad
													|  gamepad
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gavel
													|  gavel
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gear
													|  gear 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gears
													|  gears 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gift
													|  gift
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-glass
													|  glass
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-globe
													|  globe
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-graduation-cap
													|  graduation-cap
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-group
													|  group 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-grab-o
													|  hand-grab-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-lizard-o
													|  hand-lizard-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-paper-o
													|  hand-paper-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-peace-o
													|  hand-peace-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-pointer-o
													|  hand-pointer-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-rock-o
													|  hand-rock-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-scissors-o
													|  hand-scissors-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-spock-o
													|  hand-spock-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-stop-o
													|  hand-stop-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hashtag
													|  hashtag
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hdd-o
													|  hdd-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-headphones
													|  headphones
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-heart
													|  heart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-heart-o
													|  heart-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-heartbeat
													|  heartbeat
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-history
													|  history
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-home
													|  home
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hotel
													|  hotel 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hourglass
													|  hourglass
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hourglass-1
													|  hourglass-1 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hourglass-2
													|  hourglass-2 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hourglass-3
													|  hourglass-3 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hourglass-end
													|  hourglass-end
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hourglass-half
													|  hourglass-half
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hourglass-o
													|  hourglass-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hourglass-start
													|  hourglass-start
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-i-cursor
													|  i-cursor
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-image
													|  image 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-inbox
													|  inbox
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-industry
													|  industry
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-info
													|  info
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-info-circle
													|  info-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-institution
													|  institution 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-key
													|  key
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-keyboard-o
													|  keyboard-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-language
													|  language
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-laptop
													|  laptop
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-leaf
													|  leaf
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-legal
													|  legal 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-lemon-o
													|  lemon-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-level-down
													|  level-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-level-up
													|  level-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-life-bouy
													|  life-bouy 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-life-buoy
													|  life-buoy 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-life-ring
													|  life-ring
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-life-saver
													|  life-saver 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-lightbulb-o
													|  lightbulb-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-line-chart
													|  line-chart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-location-arrow
													|  location-arrow
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-lock
													|  lock
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-magic
													|  magic
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-magnet
													|  magnet
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mail-forward
													|  mail-forward 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mail-reply
													|  mail-reply 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mail-reply-all
													|  mail-reply-all 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-male
													|  male
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-map
													|  map
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-map-marker
													|  map-marker
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-map-o
													|  map-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-map-pin
													|  map-pin
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-map-signs
													|  map-signs
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-meh-o
													|  meh-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-microphone
													|  microphone
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-microphone-slash
													|  microphone-slash
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-minus
													|  minus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-minus-circle
													|  minus-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-minus-square
													|  minus-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-minus-square-o
													|  minus-square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mobile
													|  mobile
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mobile-phone
													|  mobile-phone 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-money
													|  money
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-moon-o
													|  moon-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mortar-board
													|  mortar-board 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-motorcycle
													|  motorcycle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mouse-pointer
													|  mouse-pointer
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-music
													|  music
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-navicon
													|  navicon 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-newspaper-o
													|  newspaper-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-object-group
													|  object-group
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-object-ungroup
													|  object-ungroup
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paint-brush
													|  paint-brush
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paper-plane
													|  paper-plane
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paper-plane-o
													|  paper-plane-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paw
													|  paw
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pencil
													|  pencil
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pencil-square
													|  pencil-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pencil-square-o
													|  pencil-square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-percent
													|  percent
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-phone
													|  phone
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-phone-square
													|  phone-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-photo
													|  photo 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-picture-o
													|  picture-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pie-chart
													|  pie-chart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plane
													|  plane
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plug
													|  plug
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plus
													|  plus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plus-circle
													|  plus-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plus-square
													|  plus-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plus-square-o
													|  plus-square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-power-off
													|  power-off
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-print
													|  print
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-puzzle-piece
													|  puzzle-piece
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-qrcode
													|  qrcode
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-question
													|  question
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-question-circle
													|  question-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-quote-left
													|  quote-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-quote-right
													|  quote-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-random
													|  random
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-recycle
													|  recycle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-refresh
													|  refresh
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-registered
													|  registered
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-remove
													|  remove 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-reorder
													|  reorder 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-reply
													|  reply
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-reply-all
													|  reply-all
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-retweet
													|  retweet
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-road
													|  road
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rocket
													|  rocket
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rss
													|  rss
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rss-square
													|  rss-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-search
													|  search
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-search-minus
													|  search-minus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-search-plus
													|  search-plus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-send
													|  send 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-send-o
													|  send-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-server
													|  server
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-share
													|  share
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-share-alt
													|  share-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-share-alt-square
													|  share-alt-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-share-square
													|  share-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-share-square-o
													|  share-square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-shield
													|  shield
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ship
													|  ship
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-shopping-bag
													|  shopping-bag
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-shopping-basket
													|  shopping-basket
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-shopping-cart
													|  shopping-cart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sign-in
													|  sign-in
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sign-out
													|  sign-out
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-signal
													|  signal
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sitemap
													|  sitemap
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sliders
													|  sliders
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-smile-o
													|  smile-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-soccer-ball-o
													|  soccer-ball-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort
													|  sort
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-alpha-asc
													|  sort-alpha-asc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-alpha-desc
													|  sort-alpha-desc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-amount-asc
													|  sort-amount-asc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-amount-desc
													|  sort-amount-desc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-asc
													|  sort-asc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-desc
													|  sort-desc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-down
													|  sort-down 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-numeric-asc
													|  sort-numeric-asc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-numeric-desc
													|  sort-numeric-desc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sort-up
													|  sort-up 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-space-shuttle
													|  space-shuttle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-spinner
													|  spinner
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-spoon
													|  spoon
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-square
													|  square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-square-o
													|  square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-star
													|  star
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-star-half
													|  star-half
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-star-half-empty
													|  star-half-empty 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-star-half-full
													|  star-half-full 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-star-half-o
													|  star-half-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-star-o
													|  star-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sticky-note
													|  sticky-note
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sticky-note-o
													|  sticky-note-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-street-view
													|  street-view
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-suitcase
													|  suitcase
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sun-o
													|  sun-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-support
													|  support 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tablet
													|  tablet
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tachometer
													|  tachometer
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tag
													|  tag
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tags
													|  tags
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tasks
													|  tasks
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-taxi
													|  taxi
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-television
													|  television
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-terminal
													|  terminal
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumb-tack
													|  thumb-tack
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumbs-down
													|  thumbs-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumbs-o-down
													|  thumbs-o-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumbs-o-up
													|  thumbs-o-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumbs-up
													|  thumbs-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ticket
													|  ticket
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-times
													|  times
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-times-circle
													|  times-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-times-circle-o
													|  times-circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tint
													|  tint
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-down
													|  toggle-down 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-left
													|  toggle-left 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-off
													|  toggle-off
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-on
													|  toggle-on
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-right
													|  toggle-right 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-up
													|  toggle-up 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-trademark
													|  trademark
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-trash
													|  trash
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-trash-o
													|  trash-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tree
													|  tree
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-trophy
													|  trophy
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-truck
													|  truck
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tty
													|  tty
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tv
													|  tv 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-umbrella
													|  umbrella
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-university
													|  university
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-unlock
													|  unlock
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-unlock-alt
													|  unlock-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-unsorted
													|  unsorted 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-upload
													|  upload
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-user
													|  user
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-user-plus
													|  user-plus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-user-secret
													|  user-secret
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-user-times
													|  user-times
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-users
													|  users
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-video-camera
													|  video-camera
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-volume-down
													|  volume-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-volume-off
													|  volume-off
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-volume-up
													|  volume-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-warning
													|  warning 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-wheelchair
													|  wheelchair
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-wifi
													|  wifi
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-wrench
													|  wrench
									section#hand
										h2.page-header Hand Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-grab-o
													|  hand-grab-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-lizard-o
													|  hand-lizard-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-o-down
													|  hand-o-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-o-left
													|  hand-o-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-o-right
													|  hand-o-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-o-up
													|  hand-o-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-paper-o
													|  hand-paper-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-peace-o
													|  hand-peace-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-pointer-o
													|  hand-pointer-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-rock-o
													|  hand-rock-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-scissors-o
													|  hand-scissors-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-spock-o
													|  hand-spock-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-stop-o
													|  hand-stop-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumbs-down
													|  thumbs-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumbs-o-down
													|  thumbs-o-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumbs-o-up
													|  thumbs-o-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-thumbs-up
													|  thumbs-up
									section#transportation
										h2.page-header Transportation Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ambulance
													|  ambulance
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-automobile
													|  automobile 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bicycle
													|  bicycle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bus
													|  bus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cab
													|  cab 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-car
													|  car
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fighter-jet
													|  fighter-jet
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-motorcycle
													|  motorcycle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plane
													|  plane
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rocket
													|  rocket
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ship
													|  ship
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-space-shuttle
													|  space-shuttle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-subway
													|  subway
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-taxi
													|  taxi
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-train
													|  train
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-truck
													|  truck
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-wheelchair
													|  wheelchair
									section#gender
										h2.page-header Gender Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-genderless
													|  genderless
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-intersex
													|  intersex 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mars
													|  mars
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mars-double
													|  mars-double
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mars-stroke
													|  mars-stroke
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mars-stroke-h
													|  mars-stroke-h
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mars-stroke-v
													|  mars-stroke-v
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mercury
													|  mercury
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-neuter
													|  neuter
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-transgender
													|  transgender
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-transgender-alt
													|  transgender-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-venus
													|  venus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-venus-double
													|  venus-double
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-venus-mars
													|  venus-mars
									section#file-type
										h2.page-header File Type Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file
													|  file
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-archive-o
													|  file-archive-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-audio-o
													|  file-audio-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-code-o
													|  file-code-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-excel-o
													|  file-excel-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-image-o
													|  file-image-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-movie-o
													|  file-movie-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-o
													|  file-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-pdf-o
													|  file-pdf-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-photo-o
													|  file-photo-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-picture-o
													|  file-picture-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-powerpoint-o
													|  file-powerpoint-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-sound-o
													|  file-sound-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-text
													|  file-text
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-text-o
													|  file-text-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-video-o
													|  file-video-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-word-o
													|  file-word-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-zip-o
													|  file-zip-o 
													span.text-muted (alias)
									section#spinner
										h2.page-header Spinner Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-circle-o-notch
													|  circle-o-notch
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cog
													|  cog
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gear
													|  gear 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-refresh
													|  refresh
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-spinner
													|  spinner
									section#form-control
										h2.page-header Form Control Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-check-square
													|  check-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-check-square-o
													|  check-square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-circle
													|  circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-circle-o
													|  circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-dot-circle-o
													|  dot-circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-minus-square
													|  minus-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-minus-square-o
													|  minus-square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plus-square
													|  plus-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plus-square-o
													|  plus-square-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-square
													|  square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-square-o
													|  square-o
									section#payment
										h2.page-header Payment Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-amex
													|  cc-amex
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-diners-club
													|  cc-diners-club
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-discover
													|  cc-discover
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-jcb
													|  cc-jcb
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-mastercard
													|  cc-mastercard
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-paypal
													|  cc-paypal
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-stripe
													|  cc-stripe
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-visa
													|  cc-visa
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-credit-card
													|  credit-card
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-credit-card-alt
													|  credit-card-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-google-wallet
													|  google-wallet
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paypal
													|  paypal
									section#chart
										h2.page-header Chart Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-area-chart
													|  area-chart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bar-chart
													|  bar-chart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bar-chart-o
													|  bar-chart-o 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-line-chart
													|  line-chart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pie-chart
													|  pie-chart
									section#currency
										h2.page-header Currency Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bitcoin
													|  bitcoin 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-btc
													|  btc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cny
													|  cny 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-dollar
													|  dollar 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-eur
													|  eur
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-euro
													|  euro 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gbp
													|  gbp
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gg
													|  gg
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gg-circle
													|  gg-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ils
													|  ils
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-inr
													|  inr
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-jpy
													|  jpy
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-krw
													|  krw
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-money
													|  money
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rmb
													|  rmb 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rouble
													|  rouble 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rub
													|  rub
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ruble
													|  ruble 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rupee
													|  rupee 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-shekel
													|  shekel 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sheqel
													|  sheqel 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-try
													|  try
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-turkish-lira
													|  turkish-lira 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-usd
													|  usd
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-won
													|  won 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-yen
													|  yen 
													span.text-muted (alias)
									section#text-editor
										h2.page-header Text Editor Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-align-center
													|  align-center
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-align-justify
													|  align-justify
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-align-left
													|  align-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-align-right
													|  align-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bold
													|  bold
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chain
													|  chain 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chain-broken
													|  chain-broken
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-clipboard
													|  clipboard
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-columns
													|  columns
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-copy
													|  copy 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cut
													|  cut 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-dedent
													|  dedent 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-eraser
													|  eraser
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file
													|  file
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-o
													|  file-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-text
													|  file-text
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-file-text-o
													|  file-text-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-files-o
													|  files-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-floppy-o
													|  floppy-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-font
													|  font
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-header
													|  header
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-indent
													|  indent
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-italic
													|  italic
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-link
													|  link
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-list
													|  list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-list-alt
													|  list-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-list-ol
													|  list-ol
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-list-ul
													|  list-ul
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-outdent
													|  outdent
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paperclip
													|  paperclip
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paragraph
													|  paragraph
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paste
													|  paste 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-repeat
													|  repeat
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rotate-left
													|  rotate-left 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rotate-right
													|  rotate-right 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-save
													|  save 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-scissors
													|  scissors
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-strikethrough
													|  strikethrough
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-subscript
													|  subscript
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-superscript
													|  superscript
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-table
													|  table
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-text-height
													|  text-height
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-text-width
													|  text-width
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-th
													|  th
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-th-large
													|  th-large
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-th-list
													|  th-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-underline
													|  underline
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-undo
													|  undo
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-unlink
													|  unlink 
													span.text-muted (alias)
									section#directional
										h2.page-header Directional Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angle-double-down
													|  angle-double-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angle-double-left
													|  angle-double-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angle-double-right
													|  angle-double-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angle-double-up
													|  angle-double-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angle-down
													|  angle-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angle-left
													|  angle-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angle-right
													|  angle-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angle-up
													|  angle-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-circle-down
													|  arrow-circle-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-circle-left
													|  arrow-circle-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-circle-o-down
													|  arrow-circle-o-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-circle-o-left
													|  arrow-circle-o-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-circle-o-right
													|  arrow-circle-o-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-circle-o-up
													|  arrow-circle-o-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-circle-right
													|  arrow-circle-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-circle-up
													|  arrow-circle-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-down
													|  arrow-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-left
													|  arrow-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-right
													|  arrow-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrow-up
													|  arrow-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrows
													|  arrows
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrows-alt
													|  arrows-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrows-h
													|  arrows-h
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrows-v
													|  arrows-v
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-down
													|  caret-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-left
													|  caret-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-right
													|  caret-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-square-o-down
													|  caret-square-o-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-square-o-left
													|  caret-square-o-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-square-o-right
													|  caret-square-o-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-square-o-up
													|  caret-square-o-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-caret-up
													|  caret-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chevron-circle-down
													|  chevron-circle-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chevron-circle-left
													|  chevron-circle-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chevron-circle-right
													|  chevron-circle-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chevron-circle-up
													|  chevron-circle-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chevron-down
													|  chevron-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chevron-left
													|  chevron-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chevron-right
													|  chevron-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chevron-up
													|  chevron-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-exchange
													|  exchange
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-o-down
													|  hand-o-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-o-left
													|  hand-o-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-o-right
													|  hand-o-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hand-o-up
													|  hand-o-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-long-arrow-down
													|  long-arrow-down
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-long-arrow-left
													|  long-arrow-left
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-long-arrow-right
													|  long-arrow-right
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-long-arrow-up
													|  long-arrow-up
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-down
													|  toggle-down 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-left
													|  toggle-left 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-right
													|  toggle-right 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-toggle-up
													|  toggle-up 
													span.text-muted (alias)
									section#video-player
										h2.page-header Video Player Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-arrows-alt
													|  arrows-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-backward
													|  backward
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-compress
													|  compress
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-eject
													|  eject
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-expand
													|  expand
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fast-backward
													|  fast-backward
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fast-forward
													|  fast-forward
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-forward
													|  forward
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pause
													|  pause
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pause-circle
													|  pause-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pause-circle-o
													|  pause-circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-play
													|  play
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-play-circle
													|  play-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-play-circle-o
													|  play-circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-random
													|  random
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-step-backward
													|  step-backward
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-step-forward
													|  step-forward
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-stop
													|  stop
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-stop-circle
													|  stop-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-stop-circle-o
													|  stop-circle-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-youtube-play
													|  youtube-play
									section#brand
										h2.page-header Brand Icons
										.row.fontawesome-icon-list.margin-bottom-lg
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-500px
													|  500px
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-adn
													|  adn
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-amazon
													|  amazon
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-android
													|  android
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-angellist
													|  angellist
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-apple
													|  apple
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-behance
													|  behance
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-behance-square
													|  behance-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bitbucket
													|  bitbucket
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bitbucket-square
													|  bitbucket-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bitcoin
													|  bitcoin 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-black-tie
													|  black-tie
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bluetooth
													|  bluetooth
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-bluetooth-b
													|  bluetooth-b
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-btc
													|  btc
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-buysellads
													|  buysellads
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-amex
													|  cc-amex
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-diners-club
													|  cc-diners-club
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-discover
													|  cc-discover
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-jcb
													|  cc-jcb
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-mastercard
													|  cc-mastercard
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-paypal
													|  cc-paypal
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-stripe
													|  cc-stripe
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-cc-visa
													|  cc-visa
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-chrome
													|  chrome
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-codepen
													|  codepen
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-codiepie
													|  codiepie
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-connectdevelop
													|  connectdevelop
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-contao
													|  contao
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-credit-card-alt
													|  credit-card-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-css3
													|  css3
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-dashcube
													|  dashcube
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-delicious
													|  delicious
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-deviantart
													|  deviantart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-digg
													|  digg
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-dribbble
													|  dribbble
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-dropbox
													|  dropbox
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-drupal
													|  drupal
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-edge
													|  edge
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-empire
													|  empire
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-expeditedssl
													|  expeditedssl
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-facebook
													|  facebook
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-facebook-f
													|  facebook-f 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-facebook-official
													|  facebook-official
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-facebook-square
													|  facebook-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-firefox
													|  firefox
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-flickr
													|  flickr
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fonticons
													|  fonticons
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-fort-awesome
													|  fort-awesome
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-forumbee
													|  forumbee
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-foursquare
													|  foursquare
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ge
													|  ge 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-get-pocket
													|  get-pocket
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gg
													|  gg
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gg-circle
													|  gg-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-git
													|  git
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-git-square
													|  git-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-github
													|  github
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-github-alt
													|  github-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-github-square
													|  github-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gittip
													|  gittip 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-google
													|  google
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-google-plus
													|  google-plus
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-google-plus-square
													|  google-plus-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-google-wallet
													|  google-wallet
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-gratipay
													|  gratipay
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hacker-news
													|  hacker-news
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-houzz
													|  houzz
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-html5
													|  html5
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-instagram
													|  instagram
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-internet-explorer
													|  internet-explorer
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ioxhost
													|  ioxhost
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-joomla
													|  joomla
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-jsfiddle
													|  jsfiddle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-lastfm
													|  lastfm
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-lastfm-square
													|  lastfm-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-leanpub
													|  leanpub
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-linkedin
													|  linkedin
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-linkedin-square
													|  linkedin-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-linux
													|  linux
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-maxcdn
													|  maxcdn
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-meanpath
													|  meanpath
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-medium
													|  medium
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-mixcloud
													|  mixcloud
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-modx
													|  modx
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-odnoklassniki
													|  odnoklassniki
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-odnoklassniki-square
													|  odnoklassniki-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-opencart
													|  opencart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-openid
													|  openid
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-opera
													|  opera
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-optin-monster
													|  optin-monster
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pagelines
													|  pagelines
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-paypal
													|  paypal
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pied-piper
													|  pied-piper
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pied-piper-alt
													|  pied-piper-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pinterest
													|  pinterest
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pinterest-p
													|  pinterest-p
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-pinterest-square
													|  pinterest-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-product-hunt
													|  product-hunt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-qq
													|  qq
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ra
													|  ra 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-rebel
													|  rebel
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-reddit
													|  reddit
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-reddit-alien
													|  reddit-alien
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-reddit-square
													|  reddit-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-renren
													|  renren
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-safari
													|  safari
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-scribd
													|  scribd
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-sellsy
													|  sellsy
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-share-alt
													|  share-alt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-share-alt-square
													|  share-alt-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-shirtsinbulk
													|  shirtsinbulk
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-simplybuilt
													|  simplybuilt
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-skyatlas
													|  skyatlas
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-skype
													|  skype
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-slack
													|  slack
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-slideshare
													|  slideshare
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-soundcloud
													|  soundcloud
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-spotify
													|  spotify
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-stack-exchange
													|  stack-exchange
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-stack-overflow
													|  stack-overflow
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-steam
													|  steam
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-steam-square
													|  steam-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-stumbleupon
													|  stumbleupon
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-stumbleupon-circle
													|  stumbleupon-circle
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tencent-weibo
													|  tencent-weibo
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-trello
													|  trello
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tripadvisor
													|  tripadvisor
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tumblr
													|  tumblr
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-tumblr-square
													|  tumblr-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-twitch
													|  twitch
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-twitter
													|  twitter
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-twitter-square
													|  twitter-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-usb
													|  usb
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-viacoin
													|  viacoin
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-vimeo
													|  vimeo
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-vimeo-square
													|  vimeo-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-vine
													|  vine
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-vk
													|  vk
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-wechat
													|  wechat 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-weibo
													|  weibo
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-weixin
													|  weixin
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-whatsapp
													|  whatsapp
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-wikipedia-w
													|  wikipedia-w
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-windows
													|  windows
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-wordpress
													|  wordpress
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-xing
													|  xing
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-xing-square
													|  xing-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-y-combinator
													|  y-combinator
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-y-combinator-square
													|  y-combinator-square 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-yahoo
													|  yahoo
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-yc
													|  yc 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-yc-square
													|  yc-square 
													span.text-muted (alias)
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-yelp
													|  yelp
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-youtube
													|  youtube
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-youtube-play
													|  youtube-play
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-youtube-square
													|  youtube-square
										
									section#medical
										h2.page-header Medical Icons
										.row.fontawesome-icon-list
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-ambulance
													|  ambulance
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-h-square
													|  h-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-heart
													|  heart
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-heart-o
													|  heart-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-heartbeat
													|  heartbeat
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-hospital-o
													|  hospital-o
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-medkit
													|  medkit
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-plus-square
													|  plus-square
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-stethoscope
													|  stethoscope
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-user-md
													|  user-md
											.icon-block.col-md-3.col-sm-4
													i.fa.fa-wheelchair
													|  wheelchair
