doctype html
html(lang="en")
	head
		include ../includes/_head.pug

	body.app.sidebar-mini
		// Navbar
		include ../includes/_header.pug

		// Sidebar menu
		include ../includes/_sidebar.pug

		main.app-content
			block content

		// Javascripts
		include ../includes/_javascript.pug
		block specific-js
